{% extends 'base.html.twig' %}

{% block title %}Classification - {{ classification }}{% endblock %}

{% block body %}
    <h2 class="mb-5">
        {{ classification }} 
    </h2>

    <div class="row">
        <div class="col-12 col-lg-8">
            {% if documents|length > 0 %}
                {% for document in documents | sort((a, b) => a.title <=> b.title) %}
                    <div class="media shadow border rounded-lg p-3 mb-4">

                        <div class="media-body">
                            <h4 class="font-weight-light mb-0">
                                <a href="{{ path('document_show', { id: document.id}) }}">
                                {{ document.title }}
                                </a>
                            </h4>
                                 Date : {{ document.startDate ? document.startDate|date('Y-m-d') : '' }}
                           <div class="document-text">
                                {{ document.text | raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div>There are {{ documents|length }} documents.</div>
                {% if previous >= 0 %}
                    <a href="{{ path('classification', { code: classification.code, offset: previous }) }}">Previous</a>
                {% endif %}
                {% if next < documents|length %}
                    <a href="{{ path('classification', { code: classification.code, offset: next }) }}">Next</a>
                {% endif %}
            {% else %}
                <div class="text-center">
                    No documents have been posted yet for this classification.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
