{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
<tbody>
    <div class="media shadow border rounded-lg p-3 mb-4">
    <table class="table">
            <tr>
                <td colspan=2><h2>
                {% if document.uri == true %}
                <a href="{{ document.uri }}">
                {% endif %}
                {{ document.title }}
                {% if document.uri == true %}
                </a>
                {% endif %}
                </h2></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ document.text  | raw }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ document.title }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ document.startDate ? document.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ document.endDate ? document.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ document.state }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ document.version }}</td>
            </tr>
            {% if document.metadatas|length > 0 %}
            <tr>
                <td colspan=2><h2>Tags</h2></td>
            </tr>
            {% endif %}
            {% for metadata in document.metadatas %}
            <tr>
                <th>{{ metadata.getDublinCoreElement }}</th>
                <td><a href="{{ path('document_search', { q: metadata.term}) }}">
                {{ metadata.term }}
                </a></td>
            </tr>
            {% endfor %}
            {% if document.documentSources|length > 0 %}
            <tr>
                <td colspan=2><h2>Sources</h2></td>
            </tr>
            {% endif %}
            {% for relation in document.documentSources %}
            <tr>
                <th>{{ relation.getDublinCoreRelation }}</th>
                <td><a href="{{ path('document_show', { id: relation.getDocumentTarget.getId}) }}">
                {{ relation.getDocumentTarget }}
                </a></td>
           </tr>
            {% endfor %}
            {% if document.documentTargets|length > 0 %}
            <tr>
                <td colspan=2><h2>Targets</h2></td>
            </tr>
            {% endif %}
            {% for relation in document.documentTargets %}
            <tr>
                <th>{{ relation.getDublinCoreRelation }}</th>
                <td><a href="{{ path('document_show', { id: relation.getDocumentSource.getId}) }}">
                {{ relation.getDocumentSource }}
                </a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
    <div>
        <a href="{{ path('classification', {'code': code}) }}">back to classification</a>
    </div>
</tbody>
{% endblock %}
