{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <div  class="media shadow border rounded-lg p-3 mb-4">
    <table class="table">
        <tbody>
            <tr>
                <td colspan=2><h2>
                {% if document.uri == true %}
                <a href="{{ document.uri }}">
                {% endif %}
                {{ document.title }}
                {% if document.uri == true %}
                </a>
                {% endif %}
                </h2></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ document.text  | raw }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ document.title }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ document.startDate ? document.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ document.endDate ? document.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ document.state }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ document.version }}</td>
            </tr>
            <tr>
                <td colspan=2><h2>Tags</h2></td>
            </tr>
            {% for metadata in document.metadatas %}
            <tr>
                <th>{{ metadata.getDublinCoreElement }}</th>
                <td>{{ metadata.term }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan=2><h2>Sources</h2></td>
            </tr>
            {% for documentSource in document.documentSources %}
            <tr>
                <th>{{ documentSource.getDublinCoreRelation }}</th>
                <td><a href="{{ path('document_show', { id: documentSource.getDocumentSource.getId}) }}">
                {{ documentSource.getDocumentSource }}
                </a></td>
           </tr>
            {% endfor %}
            <tr>
                <td colspan=2><h2>Targets</h2></td>
            </tr>
            {% for documentTarget in document.documentTargets %}
            <tr>
                <th>{{ documentTarget.getDublinCoreRelation }}</th>
                <td><a href="{{ path('document_show', { id: documentTarget.getDocumentTarget.getId}) }}">
                {{ documentTarget.getDocumentTarget }}
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <a class="btn btn-sm btn-blue stretched-link" href="{{ path('classification', {'code': code}) }}">back to list</a>


{% endblock %}
