{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>Document</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ document.text }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ document.title }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ document.startDate ? document.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{{ document.endDate ? document.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ document.state }}</td>
            </tr>
            <tr>
                <th>Uri</th>
                <td>{{ document.uri }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ document.version }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ document.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('classification', {'code': code}) }}">back to list</a>

    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}
