{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
<tbody>
    <div class="media shadow border rounded-lg p-3 mb-4">
    <table class="table">
            <tr>
                <td colspan=2><h2>
                {{ document.title }}
                </h2></td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.text'|trans }}</th>
                <td>{{ document.text  | raw }}</td>
            </tr>
            <tr>
                <th>{{ 'label.start_date'|trans }}</th>
                <td>{{ document.startDate ? document.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'label.end_date'|trans }}</th>
                <td>{{ document.endDate ? document.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'label.state'|trans }}</th>
                <td>{{ document.state }}</td>
            </tr>
            <tr>
                <th>{{ 'label.version'|trans }}</th>
                <td>{{ document.version }}</td>
            </tr>
            {% if document.metadatas|length > 0 %}
            <tr>
                <td colspan=2><h2>{{ 'label.tags'|trans }}</h2></td>
            </tr>
            {% endif %}
            {% for metadata in document.metadatas %}
            <tr>
                <th>{{ metadata.getDublinCoreElement }}</th>
                <td><a href="{{ path('document_search', { q: metadata.term}) }}">
                {{ metadata.term }}
                </a></td>
            </tr>
            {% endfor %}
            {% if document.documentSources|length > 0 %}
            <tr>
                <td colspan=2><h2>{{ 'label.sources'|trans }}</h2></td>
            </tr>
            {% endif %}
            {% for relation in document.documentSources %}
            <tr>
                <th>{{ relation.getDublinCoreRelation }}</th>
                <td><a href="{{ path('document_show', { id: relation.getDocumentTarget.getId}) }}">
                {{ relation.getDocumentTarget }}
                </a></td>
           </tr>
            {% endfor %}
            {% if document.documentTargets|length > 0 %}
            <tr>
                <td colspan=2><h2>{{ 'label.targets'|trans }}</h2></td>
            </tr>
            {% endif %}
            {% for relation in document.documentTargets %}
            <tr>
                <th>{{ relation.getDublinCoreRelation }}</th>
                <td><a href="{{ path('document_show', { id: relation.getDocumentSource.getId}) }}">
                {{ relation.getDocumentSource }}
                </a></td>
            </tr>
            {% endfor %}
    </table>
    </div>
    <div>
        <a href="{{ path('classification', {'code': code}) }}">{{ 'classification.redirection'|trans }}</a>
    </div>
</tbody>
{% endblock %}
